# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyCharm
.idea/

# VS Code
.vscode/

# Test and coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/

# Jupyter Notebook checkpoints